* {
  background-color: bisque;
}

.Title {
  text-align: center;
  font-size: 60px;
}

.Title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 350px;
  width: auto;
}

.recipes {
  position: relative;
  font-size: 36px;
  padding-left: 41%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.Recipes-title {
  font-size: 40px;
  margin-bottom: -30px;
  text-decoration: underline;
  text-align: center;
}

.description-title {
  font-size: 40px;
  margin-bottom: -10px;
}

.description {
  font-size: 20px;
  margin-bottom: -10px;
}

.ingredients-title {
  font-size: 30px;
  text-decoration: underline;
}

.list-text,
.directions-text {
  font-size: 20px;
}

.directions-title {
  font-size: 30px;
  text-decoration: underline;
}
